name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  publish-pypi:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4

      - name: Install Pixi
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          pixi-version: v0.39.0

      - name: Build package
        run: pixi run build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
